/* Background color */
.text-bg,
.text-bg.color,
a.button:hover,
.button.color,
.icon.color,
a.button.outline.color:hover,
a .icon:hover,
a .icon.outline.color:hover,
.bullet-pagination a,
ul.home-menu li a:hover > i,
a.play-btn:hover > i,
.portfolio-thumb:hover i,
li.service-item:hover i,
.webform-client-form input.submit,
.webform-client-form input[type="submit"][disabled],
.fourofour a:hover > i,
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.slides-pagination a:hover,
.slides-pagination a.current,
.tags a:hover,
.widget_tag_cloud .tagcloud a:hover,
a.comment-reply-link:hover,
#respond form input[type="submit"],
#respond form input[type="submit"][disabled] {
background: #6ac0d5;
}

/* Color */
a:hover,
.text-color,
h1.text-color,
h2.text-color,
h3.text-color,
h4.text-color,
h5.text-color,
h6.text-color,
p.text-color,
.text-color h1,
.text-color h2,
.text-color h3,
.text-color h4,
.text-color h5,
.text-color h6,
.text-color p,
q.colorq:before,
q.colorq:after,
a.arrow-link:after,
.button.outline.color,
.icon.outline.color,
.main-menu h1 a,
.toggle,
.main-menu.white-menu .menu li a:hover,
.icon.huge:hover,
.serviceblock:hover i.icon,
#success_page h4,
.post-meta a:hover,
.post-body a:hover,
li.cat-item a:hover,
.widget_archive li a:hover,
.fn a,
.comment-meta a:hover,
.required {
color: #6ac0d5;
}

/* Border color */
a.underline {
border-bottom: 1px solid #6ac0d5;
}

.button.outline.color,
.icon.outline.color,
ul.home-menu li a:hover > i,
.webform-client-form input:focus,
.webform-client-form textarea:focus,
.webform-client-form select:focus,
.fourofour a:hover > i,
.widget_search input.search:focus,
#respond form input[type=text]:focus,
#respond form textarea:focus {
border: 2px solid #6ac0d5;
}

a.play-btn:hover > i,
.icon.huge:hover,
.serviceblock:hover i.icon {
border: 3px solid #6ac0d5;
}