//
// Structure
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

// Brand
// --------------------------------------------------
.navbar .brand {
  text-decoration: none;
  margin: 0;
}

// Messages
// --------------------------------------------------
div.error {
  background: none;
}
