/* reset */
.mdmegamenu ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
}
.mdmegamenu iframe {
	border: none
}

/* typo: common */
.mdmegamenu {
	font-size: 12px;
	line-height: 18px;
	color: #ccc
}
.mm-container a {
	color: #ccc;
}
.mm-container a:hover {
	border-bottom: 1px dotted #fff;
	color: #fff
}
.mm-container li {
	padding: 3px 0
}
ul.mm-container li {
	padding: 0
}
.mdmegamenu small {
  font-size: 85%;
}

.mdmegamenu strong {
  font-weight: bold;
  color: #eee
}

.mdmegamenu em {
  font-style: italic;
}

.mdmegamenu cite {
  font-style: normal;
}
/* typo: heading */
.mdmegamenu h1,
.mdmegamenu h2,
.mdmegamenu h3,
.mdmegamenu h4,
.mdmegamenu h5,
.mdmegamenu h6 {
  margin: 10px 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
  line-height: 20px;
  text-rendering: optimizelegibility;
}

.mdmegamenu h1 small,
.mdmegamenu h2 small,
.mdmegamenu h3 small,
.mdmegamenu h4 small,
.mdmegamenu h5 small,
.mdmegamenu h6 small {
  font-weight: normal;
  line-height: 1em;
  color: #999999;
}

.mdmegamenu h1,
.mdmegamenu h2,
.mdmegamenu h3 {
  line-height: 1.1em;
}

.mdmegamenu h1 {
  font-size: 30px;
}

.mdmegamenu h2 {
  font-size: 24px;
}

.mdmegamenu h3 {
  font-size: 18px;
}

.mdmegamenu h4 {
  font-size: 14px;
  font-weight: normal;
}

.mdmegamenu h5 {
  font-size: 12px;
  font-weight: normal;
}

.mdmegamenu h6 {
  font-size: 11px;
  font-weight: normal;
}

.mdmegamenu h1 small {
  font-size: 19px;
}

.mdmegamenu h2 small {
  font-size: 15px;
}

.mdmegamenu h3 small {
  font-size: 13px;
}

.mdmegamenu h4 small {
  font-size: 12px;
}

/* typo: highlight */
.mdmegamenu .highlight,
.mdmegamenu .highlight-important,
.mdmegamenu .highlight-warning,
.mdmegamenu .highlight-success,
.mdmegamenu .highlight-info,
.mdmegamenu .badge,
.mdmegamenu .badge-important,
.mdmegamenu .badge-info,
.mdmegamenu .badge-warning,
.mdmegamenu .badge-success {
  padding: 0 2px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}
.mdmegamenu .badge,
.mdmegamenu .badge-important,
.mdmegamenu .badge-info,
.mdmegamenu .badge-warning,
.mdmegamenu .badge-success {
  display: inline-block;
  padding: 2px 9px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.mdmegamenu .highlight:empty,
.mdmegamenu .badge:empty {
  display: none;
}

.mdmegamenu a.highlight:hover,
.mdmegamenu a.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.mdmegamenu .highlight-important,
.mdmegamenu .badge-important {
  background-color: #b94a48;
}

.mdmegamenu .highlight-important[href],
.mdmegamenu .badge-important[href]{
  background-color: #953b39;
}

.mdmegamenu .highlight-warning,
.mdmegamenu .badge-warning {
  background-color: #f89406;
}

.mdmegamenu .highlight-warning[href],
.mdmegamenu .badge-warning[href] {
  background-color: #c67605;
}

.mdmegamenu .highlight-success,
.mdmegamenu .badge-success {
  background-color: #468847;
}

.mdmegamenu .highlight-success[href],
.mdmegamenu .badge-success[href] {
  background-color: #356635;
}

.mdmegamenu .highlight-info,
.mdmegamenu .badge-info {
  background-color: #3a87ad;
}

.mdmegamenu .highlight-info[href],
.mdmegamenu .badge-info[href] {
  background-color: #2d6987;
}

/* typo: message */
.mdmegamenu .message,
.mdmegamenu .message-success,
.mdmegamenu .message-error,
.mdmegamenu .message-info {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}

.mdmegamenu .message-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.mdmegamenu .message-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.mdmegamenu .message-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* typo: icon */
.mdmegamenu p.icon-warning,
.mdmegamenu p.icon-lock,
.mdmegamenu p.icon-info,
.mdmegamenu p.icon-question,
.mdmegamenu p.icon-tips,
.mdmegamenu p.icon-rss,
.mdmegamenu p.icon-doc,
.mdmegamenu p.icon-note,
.mdmegamenu p.icon-star {
	padding-left: 25px;
}

.mdmegamenu p.icon-warning {
	background: url(../images/icons/warning.png) no-repeat 0 0;
}
.mdmegamenu p.icon-lock {
	background: url(../images/icons/lock.png) no-repeat 0 0
}
.mdmegamenu p.icon-info {
	background: url(../images/icons/info.png) no-repeat 0 0
}
.mdmegamenu p.icon-question {
	background: url(../images/icons/question.png) no-repeat 0 0
}
.mdmegamenu p.icon-tips {
	background: url(../images/icons/tips.png) no-repeat 0 0
}
.mdmegamenu p.icon-rss {
	background: url(../images/icons/rss.png) no-repeat 0 0
}
.mdmegamenu p.icon-doc {
	background: url(../images/icons/doc.png) no-repeat 0 0
}
.mdmegamenu p.icon-note {
	background: url(../images/icons/note.png) no-repeat 0 0
}
.mdmegamenu p.icon-star {
	background: url(../images/icons/star.png) no-repeat 0 0
}

/* typo: list */
.mm-sub ul li {
	background:url(../images/bullet.png) no-repeat 16px 7px;
	padding: 0 0 0 30px;
	margin-bottom: 5px;
	overflow: hidden;
}
.mm-sub ul.list-arrow li {
	background: url(../images/icons/arrow.png) no-repeat 0 0;
	padding-left: 25px;
}
.mm-sub ul.list-check li {
	background: url(../images/icons/check.png) no-repeat 0 0;
	padding-left: 25px;
}
.mm-sub ul.list-star li {
	background: url(../images/icons/star.png) no-repeat 0 0;
	padding-left: 25px;
}
.mm-sub ol {
	list-style: decimal;
	padding-left: 30px;
}

/* seperator */
.md-separator,
.md-separator-text{
    border-bottom: 1px solid #eee;
    margin: 10px 0 20px;
}
.md-separator-text {
    position: relative;
    top: -20px;
}
.md-separator-text div {
    display: inline-block;
    background-color: #ffffff;
    padding: 1px 12px;
    position: relative;
    top: 10px;
}
.md-separator-aligncenter {
    text-align: center;
}
.md-separator-alignleft {
    text-align: left;
}
.md-separator-alignright {
    text-align: right;
}

/* flickr */
.flickr_badge_image {
    float: left;
    margin: 0 8px 4px 0;
    width: 75px;
}

/* twitter */
.mdmegamenu .mm-container .tweet_time a,
.mdmegamenu .mm-container .tweet_time a:link {
    color: #999;
}
.mdmegamenu .mm-container .tweet_time a:hover {
    color: #666;
}
.mm-sub ul.tweet_list li {
    background: url(../images/icons/twitter.png) no-repeat 0 2px;
}

/* megamenu style */
.mdmegamenu {
	position:relative;
	z-index: 490;
}
.mm-parent .mm-fullwidth {
	width: 100%
}
.mdmegamenu ul.megamenu > li {
	display: inline; 
	float: left;
}
.mm-item > a {
	float: left;
	line-height: 41px;
	position: relative;
}
.mm-item img.mm-icon {
	float: left;
	margin: 12px 6px 12px 0;
}

.md-withdesc .mm-item img.mm-icon {
	margin-bottom: 22px;
}

.mm-item > a span.mm-desc {
	display: block;
	white-space: nowrap
}

.mm-container {
	display: none;
	float: left;
	position: absolute;
	left: 0;
	top: 41px;
	width: 100%;
	z-index: 9999;
}
.md-dropshadow .mm-container,
.md-dropshadow li.mm-hover {
    -moz-box-shadow:5px 5px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow:5px 5px 4px rgba(0,0,0,0.2);
    box-shadow:5px 5px 4px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color=#33000000,Positive=true);
}
.md-vertical-rtl.md-dropshadow .mm-container,
.md-vertical-rtl.md-dropshadow li.mm-hover {
    -moz-box-shadow:-5px 5px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow:-5px 5px 4px rgba(0,0,0,0.2);
    box-shadow:-5px 5px 4px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=-5,OffY=5,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=-5,OffY=5,Color=#33000000,Positive=true);
}
.mm-fixed-bottom.md-dropshadow .mm-container {
    -moz-box-shadow:5px -5px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow:5px -5px 4px rgba(0,0,0,0.2);
    box-shadow:5px -5px 4px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=-5,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=-5,Color=#33000000,Positive=true);
}
.mm-arrow {
	background: url(../images/mm-arrow.gif) no-repeat 0 0;
	display: block;
	width: 6px;
	height: 3px;
  margin-top: -3px;
	position: absolute;
	right: 14px;
	top: 50%;
}
.mm-hover .mm-arrow { 
	background-position: 0 -3px;
}
ul.mm-container li .mm-arrow,
.md-vertical .mm-arrow { 
	background-position: -13px 0;
	width: 3px;
	height: 6px;
}
.md-vertical-rtl .mm-arrow {
	background-position: -28px 0;
	right: auto;
	left: 10px;
}
ul.mm-container a:hover .mm-arrow { 
	background-position: -16px 0
}
.md-vertical-rtl ul.mm-container a:hover .mm-arrow { 
	background-position: -25px 0
}
.md-withdesc .mm-arrow {
    top: 36%;
}
.md-vertical .mm-hover .mm-arrow { 
	background-position: -19px 0
}
.md-vertical-rtl .mm-hover .mm-arrow { 
	background-position: -22px 0
}
.mm-fixed-bottom .mm-arrow {
    background-position: -6px 0;
}
.mm-fixed-bottom .mm-hover .mm-arrow {
    background-position: -6px -3px;
}
.mm-close {
		font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 12px;
    height: 100%;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -50%;;
    z-index: 99;
}

/* dropdown */
.mm-dropdown ul.mm-container {
	display: none;
	float: left;
	position: absolute;
	left: 0;
	top: 41px;
	width: 220px;
	z-index: 9999;
}
.mm-dropdown ul li {
	position: relative
}
.mm-dropdown ul li ul.mm-container {
	top: 0;
	left: 220px;
}
.mm-dropdown ul a {
	border: none;
	display: block;
	padding: 5px 20px;
    position: relative;
}
.mm-dropdown ul a:hover,
.mm-dropdown ul li.mm-hover > a {
	border: none;
	background: #fff;
	color: #000;
}

/* menu fixed */
.mm-fixed-top,
.mm-fixed-bottom,
.mm-toggle {
	position: fixed;
	left: 50%;
	z-index:999;
	width: 100%;
	margin: 0 auto 0 -50%;
}

.mm-toggle {
	background: url(../images/fixed-toggle.png) #111111 no-repeat left center;
	display: block;
	height: 41px;
	width: 30px;
    left: auto;
    right: 10px;
}

.mm-fixed-bottom .mm-toggle,
.mm-fixed-top .mm-toggle-show {
    background-position: right center;
}

.mm-fixed-bottom .mm-toggle-show {
    background-position: left center;
}

.mm-fixed-top,
.mm-fixed-top .mm-toggle {
	top: 0;
}

.mm-fixed-bottom,
.mm-fixed-bottom .mm-toggle {
	bottom: 0;
}

.mm-toggle-hide {
    border: none !important;
    padding: 0 !important;
}

.mm-fixed-bottom .mm-container,
.mm-fixed-bottom .mm-dropdown ul.mm-container {
	bottom: 41px;
	top: auto !important;
}
.mm-fixed-bottom .mm-dropdown ul li ul.mm-container {
	bottom: 0;
	top: auto !important;
}

/* vertical menu */
.md-vertical {
    z-index: 480;
}
.md-vertical ul.megamenu {
	width: auto;
	float: left;
}
.md-vertical ul.megamenu > li {
	display: block;
	float: none;
	position: relative;
}
.md-vertical .mm-container,
.md-vertical .mm-dropdown ul.mm-container {
	left: 100%;
	top: 0;
}
.md-vertical-rtl .mm-container,
.md-vertical-rtl .mm-dropdown ul.mm-container {
	left: auto;
	right: 100%;
}

.md-vertical .mm-item > a {
	display: block;
	float: none;
}

.md-vertical li.mm-hover,
.md-dropshadow ul.mm-container li.mm-hover{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.md-vertical .mm-item > a span.mm-desc {
    margin-top: 0;
}

/* */
.mm-sub .inner {padding: 0 20px; margin: 20px 0}
.mm-sub .withmargin .inner {padding: 0 10px; margin: 20px 0}

/* Drupal stuff */
.mm-container input.form-text, 
.mm-container textarea.form-textarea {
	padding: 2px 4px;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mm-container textarea.form-textarea {
	overflow: auto;
}
.mdmegamenu .item-list ul li {
	background-position: 0 7px;
	padding: 0 0 0 13px;
}
.mdmegamenu ul.links li {
	background-position: 0 7px;
	font-size: 1em;
	padding: 0 0 0 13px;
}
.mdmegamenu .form-item label {
	font-size: 1em
}

/* responsive
*/
/* iframe */
.mdmegamenu .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 15px;
}

.mdmegamenu .video-container iframe,
.mdmegamenu .video-container object,
.mdmegamenu .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mm-container iframe{
    width: 100% !important;
}

.js .selectnav {
    display: none;
}

@media screen and (max-width: 600px) {
    .js .megamenu {
        display: none;
    }
    .js .selectnav {
        display: block;
        clear: both;
        margin: 0;
        width: 90%
    }
}